.example-container {
  width: 100%;
  height: 100%;
  background-color: white;
}

mat-drawer{
  background-color: white;
}

.nav-list{
  color: white;
}

mat-drawer-content {
  width: 100%;
  height: 100%; 
}
