<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <app-toolbar></app-toolbar>
    <div class="content">

        <mat-card class="card-table">
            <h3>DESAFIO JASMIM</h3>
            <mat-card-content>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="dia">
                        <th mat-header-cell *matHeaderCellDef> Dia </th>
                        <td mat-cell *matCellDef="let element"> {{element.dia}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="atividade">
                        <th mat-header-cell *matHeaderCellDef> Atividade </th>
                        <td mat-cell *matCellDef="let element"> {{element.atividade}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                        <td mat-cell *matCellDef="let row">
                            <p><mat-slide-toggle></mat-slide-toggle></p>

                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-card>


    </div>
</body>

</html>