.content{
    background-color: #89B39C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.card-table{
    margin: 20px;
    background-color: white;
    height: auto;
}

.mat-elevation-z8{
    background-color: white;
}

h3{
    color:  #52896A;
    text-align: center;
    font-family: 'Fira Sans Condensed';
    margin-top: 15px;
}
