.example-spacer {
  flex: 1 1 auto;
}

.toolbar{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#img{
  width: 100px;
  height: 100px;
  text-align: center;
}

button{
  background-color: white;
  border: 0px;
}

span{
  font-family: 'Fira Sans Condensed';
}