<app-toolbar></app-toolbar>
<body>
    <div id="home-text">
        <p>O Projeto Eco tem como objetivo auxiliar as pessoas a incorporarem práticas sustentáveis em seu dia a dia por meio de desafios cotidianos. 
            Ao oferecer uma série de desafios acessíveis e relevantes, buscamos inspirar a adoção de hábitos que promovam o cuidado com o meio ambiente.
            Nossa missão é tornar a sustentabilidade parte integrante da rotina de cada indivíduo, 
            contribuindo assim para um futuro mais consciente e equilibrado para o planeta.

        Além disso, nós também temos um banco de voluntários, onde o usuário pode se cadastrar e as empresas e ongs entraram em contato</p>

        <img >
    </div>

    <h3 class="title">Desafios</h3>

    <div class="cards">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Desafio Petunia</mat-card-title>
                <mat-card-subtitle>tempo: 7 dias</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Este desafio é ideal para aqueles que já adotam práticas conscientes, mas que estão em busca de uma motivação extra.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Quero este desafio!</button>
            </mat-card-actions>
        </mat-card>
    
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Desafio Margarida</mat-card-title>
                <mat-card-subtitle>tempo: 14 dias</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Este desafio é  ideal para aqueles que já adotam algumas práticas conscientes, mas desejam aprimorar e expandir seus hábitos sustentáveis</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Quero este desafio!</button>
            </mat-card-actions>
        </mat-card>
    
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Desafio Jasmim</mat-card-title>
                <mat-card-subtitle>tempo: 30 dias</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Este desafio é ideal para quem ainda não adotou hábitos conscientes, mas deseja começar a viver de maneira mais sustentável.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Quero este desafio!</button>
            </mat-card-actions>
        </mat-card>
    </div>
    
</body>